
#pie {
    text-decoration: none;
    color: white;
}

#pie:hover {
    color: black;
}

.fondo {
    color: white;
    font-family: sans-serif;
    text-align: center;
    background-color: $bg-footer;
    padding: 1px,0;
    position: absolute;
    bottom: -100;
    width: 100%;
}