.titulo1 {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    text-align:center;
    color: $color-contenido;
}

.titulo2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: $titulos-tamanio;
    color: $color-contenido;
}


h4 {
    font-size: $titulos-tamanio;
}

.blanco {
    color: $color-contenido;
}

.titulo {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 30px;
    font-size: $titulos-tamanio;
    color: $color-contenido;  
}

.titulo-ubicacion {
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: bold;
    background-color: white;  
}
