
@media all and (max-width: 480px) {

    .navegador{
        flex-direction: column;
    }

    .menu{
        display: block;
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
    }
}

@media (min-width: 520px) {
    .ropa-nueva{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 728px) {
    .ropa-nueva{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .ropa-nueva{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(min-width: 700px) {
       .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}
